
  <div>
    <p>Multiple students</p>
    <!-- <% @students.each do |student| %> -->
    <!-- <div><%= @student.to_s %></div> -->
    <p>first_name: <%= @students.first_name%> last_name: <%=@students.last_name %></p>
    <p>first_name: <%= @students.first_name%> last_name: <%=@students.last_name %></p>
    <!-- <% end %> -->
 </div>
